.form {
  display: flex;
  height: 10%;
  width: 100%;
  border-top: 1.25px solid #d3d3d3;
  border-radius: 0 0 8px 8px;

  .input {
    display: flex;
    width: 80%;
    border: none;
    padding: 0 20px;
    font-size: 16px;
  }

  .send-button {
    color: #ffffff;
    width: 20%;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--color-primary);
  }
}
