.form {
  display: flex;
  height: 10%;

  .input {
    border: none;
    border-top: 2px solid #d3d3d3;
    border-radius: 0;
    padding: 0 2%;
    width: 85%;
    font-size: 16px;
  }

  .send-button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #f7505a;
    border: none;
    width: 15%;
  }
}
