@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --color-background: #14171a;
  --color-primary: #1da1f2;
  --color-secondary: #f5f8fa;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

input {
  border: none;
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

form {
  outline: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}
