* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

input[type='text'],
textarea {
  outline: none;
  box-shadow: none !important;
  border: 0px solid #ccc !important;
}

.container {
  padding: 0;
}

.btn-link {
  text-decoration: none;
  color: #c4c4c4;
  font-size: 24px;
  padding: 0 5px;
}

#wrapper {
  height: 80vh;
  margin: 10vh auto;
  background-color: white;
  border: 1px solid #c4c4c4;
  position: relative;
}

#msg-cont {
  padding: 10px 15px;
}

#send-cont {
  margin-top: 15px;
  padding: 10px 15px;
  border-top: 1px solid #c4c4c4;
  position: absolute;
  bottom: 0;
}
