.message-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 2%;
  margin: 2% 0;

  .message-box {
    background: var(--color-secondary);
    border-radius: 20px;
    padding: 0 15px;
    color: #fff;
    display: inline-block;
    max-width: 80%;

    .message-text {
      width: 100%;
      letter-spacing: 0;
      float: left;
      font-size: 16px;
      word-wrap: break-word;

      img {
        vertical-align: middle;
      }
    }

    .color-#fff {
      color: #fff;
    }

    .color-dark {
      color: #353535;
    }
  }

  .sent-text {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #828282;
    letter-spacing: 0.3px;
  }

  .pl-10 {
    padding-left: 10px;
  }

  .pr-10 {
    padding-right: 10px;
  }

  .background-red {
    background: var(--color-primary);
  }

  .background-light {
    background: var(--color-secondary);
  }
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}
