.join-outer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: var(--color-background);

  .join-inner-container {
    width: 22.5%;

    .join-input {
      border-radius: 8px;
      border-style: none;
      padding: 15px 20px;
      width: 100%;
    }

    .heading {
      color: #fff;
      font-size: 42px;
      padding-bottom: 10px;
      border-bottom: 2px solid #fff;
    }

    .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: var(--color-primary);
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
    }
  }
}

.mt-20 {
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .join-outer-container {
    min-height: -webkit-fill-available;
  }

  .join-outer-container .join-inner-container {
    width: 85%;
  }
}
