.join-outer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: var(--color-background);

  .join-inner-container {
    width: 20%;

    .join-input {
      border-radius: 0;
      padding: 15px 20px;
      width: 100%;
    }

    .heading {
      color: white;
      font-size: 42px;
      padding-bottom: 10px;
      border-bottom: 2px solid white;
    }

    .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: var(--color-primary);
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
    }
  }
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .join-outer-container {
    height: 100%;
  }

  .join-inner-container {
    width: 90%;
  }
}
